<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>Erro na aplicação</title>
</head>
<body>
    <h1>Ocorreu um erro na alicação.</h1>
<div><%=erro%></div>
</body>
</html>